header#cab {
    text-align: center;

}

body {
    color: white;
    font: Normal 15pt Arial;
}

section#branco {

    background-color: white;
    margin: auto;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    color: black;
    text-align: center;

    
}
    div#div1{
        padding:10px;
    }

    div#horacerta {
        padding-top:10px;
    }
    footer {
    text-align: center;
}
